.movies {
    background-color :#161616;
}
.movies .eachFilm {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.movies .eachFilm li {
    width:20%;
    padding:0;
}
.movies .eachFilm li img {
    width:70%;
    height:auto;
    border-radius: 10px;
}
.movies .pagination li {
    background-color: #fff;
    width: 60px;
}
