.movies {
  background-color :#161616;
  padding-top: 40px;
}
.movies .filmList {
  display: flex;
  padding:50px 0 0px 0px;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.movies .filmList li {
  width:20% ;
  padding:0 12px;
}
.movies .filmList li img {
  max-width:100%;
  height:auto;
  transition: all .5s ease; 
  vertical-align: middle;
  border-radius: 3%;
}
.movies .filmList li h3 {
  margin:0;
  padding-bottom:20px;
  font-size: 1rem;
}
.movies ul li .picHolder {
  overflow: hidden;
  position: relative;
  border-radius: 3%;
  display: inline-block;
}
.movies ul li .picHolder .play {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border:2px solid #e50916;
  background-color:#e50916;
  border-radius: 50%;
  padding:11px 22px;
  font-size: 1.5rem;
  opacity:0;
  transition: all .5s ease; 
  color:#fff;
  z-index: 40;
  overflow: hidden;
}
.movies ul li .picHolder::after{
  content:"";
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,.5);
  opacity:0;
  transition: all .5s ease; 
}
.movies ul li:hover  .pic {
  transform: scale(1.1);
}
.movies ul li:hover .picHolder::after{
  opacity:1
}
.movies ul  li:hover .play{
  opacity:1
}
.movies ul li .picHolder .icons {
  position:absolute;
  bottom: 10px;
  right:20px;
  z-index: 500;
  transition: all .5s ;
}
.movies ul li .picHolder .heart:hover {
  color:#e50916;
  cursor: pointer;
}
.movies ul li .picHolder .plus:hover {
  cursor: pointer;
}
.movies ul li .picHolder .share {
  position:relative;
}
.movies ul li .picHolder .share .box i{
  z-index: 50;
  margin-top:8px;
  font-size: 1.2rem;;
}
.movies ul li .picHolder .share .box {
  position: absolute;
  bottom: -1px;
  right: 15px;
  background: #fff;
  width:90px;
  height:35px;
  margin-right:15px;
  color:#000;
  display: flex;
  justify-content: space-around;
  opacity: 0;
  transition: all .5s ;
}
.movies ul li .picHolder .share .box::after {
  content:"";
   position: absolute;
   width: 0;
   height: 0;
   border-top: 18px solid transparent;
   border-left: 40px solid #fff;
   border-bottom: 18px solid transparent;
   margin:0px 0 10px 70px;
}
.movies ul li .picHolder .share:hover{
  cursor: pointer;
}
.movies ul li .picHolder .share:hover .box {
  opacity:1
}
.movies ul li p{
  margin: 0;
  width:150px;
  height: 30px;
  overflow: hidden;
  text-align: left;
  font-size: 1.2rem;
  transition: all .5s;
}
.movies ul li p:hover {
  color:#e50916;
}
.movies ul li h6 {
  margin:5px 0 20px 5px;
  text-align: left;
  font-size: .8rem;
  letter-spacing: 3px;
  color:#e50916
}
.movies .pagination  {
    padding-left:0px;
    margin:0 0 50px 20px;
    height: max-content;
}
.pagination button {
  margin-top : 0;
}
.movies .pagination li {
    background-color: #b81d24 !important;
    width:40px;
    
}
.ant-celect{    
    border:#b81d24;
    background-color: #b81d24 !important;
    display: none;
}

.ant-select {
  background-color: #b81d24;
  border:#b81d24
}
@media only screen and (max-width: 1500px) {
  .movies .filmList li {
    width:25%;
    padding:0 35px;
  }
  }
  @media only screen and (max-width: 1300px) {
  .movies .filmList li {
    padding:0 30px;
  }
  }
  .movies ul li .picHolder .share .box {
  width:80px;
  height:30px;
  }
  .movies ul li .picHolder .share .box::after {
   border-top: 15px solid transparent;
   border-left: 35px solid #fff;
   border-bottom: 15px solid transparent;
  }
  @media only screen and (max-width: 1150px) {
  .movies .filmList li {
    width:33.33%;
    padding:0 30px;
  }
  .movies ul li .picHolder .share .box {
  width:85px;
  height:32px;
  }
  .movies ul li .picHolder .share .box::after {
  border-top: 16px solid transparent;
  border-left: 35px solid #fff;
  border-bottom: 16px solid transparent;
  }
  .movies button {
    margin:0px 0 100px 40px;
  }
  .movies ul li h6 {
    margin:3px 0 40px 3px;
  }
  }
  @media only screen and (max-width: 980px) {
  .movies .filmList li {
    padding:0 30px;
  }
  .movies ul li p{
  margin-top: 5px;
  font-size: 1.1rem;
  }
  .movies ul li h6 {
    margin:3px 0 30px 3px;
  }
  }
  @media only screen and (max-width: 900px) {
  .movies .filmList li {
    width:50%;
    padding:0 40px;
  }
  .movies ul li p{
    margin-top: 5px;
    font-size: 1.25rem;
  }
  .movies ul li h6 {
    margin:3px 0 30px 3px;
    text-align: left;
    font-size: .7rem;
    letter-spacing: 2px;
  }
  }
  @media only screen and (max-width: 700px) {
  .movies .filmList li {
    padding:0 35px;
  }
  .movies ul li p{
  margin-top: 7px;
  font-size: 1.2rem;
  }
  .movies ul li h6 {
  margin:3px 0 30px 3px;
  text-align: left;
  font-size: .7rem;
  letter-spacing: 2px;
  }
 
  }
  @media only screen and (max-width: 600px) {
  .movies ul li p{
  margin-top: 7px;
  font-size: 1.14rem;
  }
  .movies ul li h6 {
  text-align: left;
  font-size: .7rem;
  letter-spacing: 2px;
  }
  
  }
  @media only screen and (max-width: 570px) {
  .movies ul li p{
  margin-top: 5px;
  font-size: 1rem;
  }
  .movies ul li h6 {
  margin:1px 0 30px 3px;
  text-align: left;
  font-size: .7rem;
  letter-spacing: 1px;
  }
  }
  @media only screen and (max-width: 500px) {
  .movies .filmList li {
    padding:0px 20px 25px 20px;
  }
  .movies ul li p{
  margin-top: 4px;
  font-size: .9rem;
  }
  .movies ul li h6 {
  display: none;
  }
  .movies button {
    margin:0px 0 80px 20px;
  }
  }
  @media only screen and (max-width: 450px) {
  .movies .filmList li {
    padding:0px 15px 30px 15px;
  }
  .movies ul li p{
  display: none;
  }
  }

