.recover:after {
    background-image: url(/public/assets/images/main/asset-75.jpg);
    background-size:cover;
    background-position:center center;
    filter:blur(6px);
    -webkit-filter: blur(6px);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    content:"";
    z-index: -10;
    box-shadow: inset 8px 8px rgba(41, 41, 42,.6) ;
}
.recover:before {
    background-color: rgba(9, 12, 22, 0.6);
    filter:blur(10px);
    -webkit-filter: blur(10px);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    content:"";
    z-index:-5;
}
.square {
    z-index:10;
    background-color: #161616;
    width:500px;
    height:387px;
    padding:20px 30px ;
    position:absolute;
    top:42.5%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size: 1.12rem;
}
.square h5 {
    font-size: 1.9rem;
    margin:0;
    margin-bottom:18px;
    position:relative;
    border-bottom: 1px solid #221f1f;
    text-transform:uppercase;
}
.square h5:after {
    content:"";
    position:absolute;
    width:100px;
    height:3px;
    background: #e50916;
    top:57px;
    left:0px;
    display:inline-block;
    margin:0;
}
.square h6 {
    font-size: 1.1rem;
    margin:0;
    color:#cecfd1;
}
.square form {
    margin-top: 30px;
}
.square .color {
    width:100%;
    height:54px;
    background-color: #221f1f;
    border:1px solid #221f1f;
    margin-bottom: 15px;
    transition: all .5s;
    color:#fff;
    font-size: 1.2rem;
    padding:0 20px;
  
}
.square .color:hover,
.color:focus {
    border:1px solid #e50916;
    outline:none;
}
.square .submit {
    padding:18px 23px;
    border-radius: 0;
    border: 1px solid #e50916;
    background-color: #e50916;
    color:#fff;
    font-size: 1.1rem;
    margin-top:15px;
    margin-bottom :0;
    text-transform:uppercase;
}
