.genres {
    position:relative;
    width:100%;
    height:100%
}
.genres::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    z-index: 5;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.9), rgba(33, 33, 32, 0.7), rgba(60, 61, 60, 0.5))
}
.genresBack {
    width:100%;
    height:100%;
    z-index: -50;
    vertical-align: middle;
    object-fit:cover;
}
.genresList {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap:30px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 20;
}

.genresList li {
    padding: 0 !important;
    text-align: left;
    font-size: 1.5rem;
}
.genresList li p {
    border:3px solid #e50916;
    display:inline-block;
    padding: 10px;
    border-radius: 10px;
    transition: all .5s;
}
.genresList li p:hover {
    color:#ba535f;
    
}
@media only screen and (max-width:1500px) {
    .genresList li {
        padding: 0 !important;
        text-align: left;
        font-size: 1.3rem;
    }
}
@media only screen and (max-width:1365px) {
    .genresList li {
        padding: 0 !important;
        text-align: left;
        font-size: 1.2rem;
    }
    .genresList li p {
        padding: 8px;
        border-radius: 10px;
    }
}
@media only screen and (max-width:1260px) {
    .genresBack {
        width:100%;
        height:90vh;
    }
    .genresList li {
        padding: 0 !important;
        text-align: left;
        font-size: 1.1rem;
    }
    .genresList li p {
        padding: 8px;
        border-radius: 10px;
    }
    .genresList {
        gap:25px;
    }
}
@media only screen and (max-width:1160px) {
    .genresList li {
        padding: 0 !important;
        text-align: left;
        font-size: 1rem;
    }
    .genresList li p {
        padding: 8px;
        border:2px solid #e50916;
    }
    .genresList {
        gap:20px;
    }
}
@media only screen and (max-width:1024px) {
    .genresList {
        justify-content:left;
        top:50%;
        left:20%;
        transform: translate(-20%,-50%);
        z-index: 20;
        width:70%
    }
}
@media only screen and (max-width:870px) {
    .genresList {
        width:70%;
        padding:70px 0;
        margin-top: 10px;
    }
    .genresList li p {
        padding: 6px;
}
}
@media only screen and (max-width:700px) {
    .genresList {
        width:80%;
    }
}
@media only screen and (max-width:600px) {
    .genresList li {
        padding: 0 !important;
        text-align: left;
        font-size: .9rem;
    }
    .genresList {
        width:100%;
        padding-left: 15px;;
    }
}
@media only screen and (max-width:500px) {
.genresList {
    gap:15px;
}
}