.header {
    background-color:rgba(0, 0, 0, 0.3);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 1000;
    padding:16px 0;
    transition:all 1s;
    
}
.headerBackDark {
    background-color:#232020 !important ;
}
.headerHolder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    width:160px;
    height:auto;
}
.menu .flexHolder {
    display:flex;
    align-items: center;
    text-align: center;
    gap:0 10px
}
.menu ul li { 
    padding-left: 37px;
}
.menu ul .red p {
    transition: all .5s;
    font-size: 1.1rem;
}
.menu ul .red:hover p {
    color:#e50916;
}
.menu ul li .angle {
    display: flex;
    align-items: center;
    gap:8px;
}
.menu ul li .angle i {
    color:#6f6f72;
}
.menu .haveGenres {
    position: relative;
}
.menu .haveGenres p {
    margin:10px  0px;
    font-size: .9rem;
}
.menu .haveGenres .genresOut {
    visibility:hidden;
    opacity:0;
    position:absolute;
    top:72px;
    left:35px;
    width:150%;
    transition: visibility 0.5s,opacity .5s linear;
}
.menu .haveGenres .genresIn {
    visibility:visible;
    opacity:1;
    position:absolute;
    top:72px;
    left:35px;
    width:150%;
    transition: visibility .5s,opacity .5s linear;
}
.menu .haveGenres .genresOutTV {
    visibility:hidden;
    opacity:0;
    position:absolute;
    top:72px;
    left:35px;
    width:125%;
    transition: all .5s;
}
.menu .haveGenres .genresInTV {
    visibility:visible;
    opacity:1;
    position:absolute;
    top:72px;
    left:35px;
    width:125%;
    transition: all .5s;
}
.menu .search {
    position:relative;
    cursor: pointer;
}
.menu .search i {
    font-size:1.2rem;
}
.menu .search .searchBoxOut {
    opacity:0;
    visibility:hidden;
    position:absolute;
    top:60px;
    right:-20px;
    background-color: #221f1f;
    width:350px;
    transition: visibility .5s,opacity .5s linear;
}
.menu .search .searchBoxIn {
    opacity:1;
    visibility:visible;
    position:absolute;
    top:60px;
    right:-20px;
    background-color: #221f1f;
    width:350px;
    transition: visibility .5s,opacity .5s linear;
}
.menu ul li .user {
    position: relative;
    background-color:#e50916;
    width:45px;
    height:45px;
    border-radius: 50%;
}
.menu ul li .user i {
    position: absolute;
    left: 47%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-font-smoothing:antialiased;
}
.menu ul li button {
    font-size:1rem;
    color:#fff;
    background-color:#e50916;
    padding:11px 17px;
    text-transform: uppercase;
    border:1px solid #e50916;
    margin:0;
}
@media only screen and (max-width: 1000px){
    .header {
        padding:5px 0;
    }
    .headerHolder {
        display: block;
        text-align: center;
    }
    .logo img {
        width: 180px;
    }
    .menu ul { 
        display: flex;
        justify-content: space-between;
        padding-right: 30px;
    }
    .menu .search .searchBoxOut {
        top:50px;
    }
    .menu .search .searchBoxIn {
        top:50px;
    } 
    .menu .search .searchBoxOut {
        top:60px;
        right:-20px;
        width:230px;
    }
    .menu .search .searchBoxIn {
        top:50px;
        right:-20px;
        width:230px;
   
    }
}
@media only screen and (max-width: 910px){
    .menu ul .red p {
        font-size: 1rem;
    }
    .menu .search i {
        font-size:1.1rem;
    }
    .menu .search .searchBoxOut {
        top:50px;
    }
    .menu .search .searchBoxIn {
        top:40px;
    } 
    .menu ul li .user {
        width:40px;
        height:40px;
    }
    .menu ul li button {
        font-size:.9rem;
    }
    .menu ul li { 
        padding-left: 30px;
    }
}
@media only screen and (max-width: 800px){
    .logo img {
        width: 170px;
    }
    .menu ul li { 
        padding-left: 15px;
    }
    .menu ul li .angle {
        gap:5px;
    }
    .menu ul li .angle i {
        font-size: .8rem;
        margin-top:3px;
    }
}
@media only screen and (max-width: 660px){
    .logo img {
        width: 150px;
    }
    .menu ul .red p {
        font-size: .8rem;
    }
    .menu ul li .user {
        width:32px;
        height:32px;
    }
    .menu ul li button {
        font-size:.7rem;
        padding:10px 11px;
    }
    .menu .search i {
        font-size:1rem;
    }
    .menu ul li { 
        padding-left: 15px;
    }
    .menu .flexHolder {
        justify-content: space-between;
    }
    
}


   


