.search {
    position: relative;
}
.search .redButton {
    position: absolute;
    bottom:16px;
    left:280px;
    width:52px;
    height:52px;
    background-color: #e50916;
    border: 1px solid #e50916;
    color:#fff
}
.search i {
    transition: all 1s;
}
.search input {
    background-color: #161616;
    border: 1px solid #161616;
    width:91%;
    height:54px;
    margin:15px; 
    color:#fff;
    padding:0 15px;
    font-size: 1.1rem;
}
.search input:focus {
    border:1px solid #221f1f;
    outline: none;
}
.search .reply {
    position: absolute;
    top:100%;
    right:0px;
    background: rgba(0,0,0,.5);
}
.search .reply ul {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}
.search .reply ul li {
    width:50%;
    padding:5px 5px;
}
.search .reply .eachReply {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
.search .reply ul li p {
    margin:0;
    font-size: .8rem;
}
.search .reply ul li img {
    width:60px;
}
.invisible {
    opacity:0
}
@media only screen and (max-width:1350px) {
    .search input {
        width:85%;
        height:52px;
        margin:13px;
        font-size: 1rem; 
    }
    .search .redButton {
        bottom:16px;
        left:230px;
        width:50px;
        height:50px;
    }
}
@media only screen and (max-width:1200px){
    .search input {
        width:85%;
        height:52px;
        padding:0 12px;
        
    }
    .search .redButton {
        left:75%;
        width:48px;
        height:48px;
    }
}
@media only screen and (max-width:1000px){
    .search input {
        height:44px;
        font-size: 1rem;
        margin:10px 15px
    }
    .search .redButton {
        bottom:15px;
        left:75%;
        width:44px;
        height:44px;
    }
}
@media only screen and (max-width: 900px) {
    .search .redButton {
        bottom:15px;
        left:75%;
        width:42px;
        height:42px;
    }
}
@media only screen and (max-width: 600px) {
    .search .redButton {
        bottom:13px;
        left:75%;
        width:40px;
        height:40px;
    }
}


