html {
  font-size:14px;
}
body {
  margin: 0;
  font-family:  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:#161616;
  line-height:2;
}


ul,li {
  list-style: none;
  padding:0;
  margin:0;
}
a {
  text-decoration: none;
  color:#fff;
}
*,*:before,*:after {
  box-sizing: border-box;
}
.container {
  width: 1475px;
  margin: 0 auto;
}
.smallContainer {
  width:1250px;
  margin:0 auto;
}
.active {
  color:#e50916;
}
.upCase {
  text-transform: uppercase;
}
.swiper-button-prev {
  font-weight:700;
  padding-left:25px;
}
.swiper-button-next {
  font-weight:700;
  padding-right:25px;
}
