/* #app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
} */

html,
body {
  position: relative;
  height: 100%;
}
#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide-visible   {
  object-fit: cover;
  object-position: top;
}
.special {
  text-align: center;
}
.special .pic {
  width:100%;
  height:100%;
  vertical-align: middle;
}
.special .picHolder {
  position:relative;
  width:100%;
  height: 100%;
}
.special .picHolder::after {
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-image: radial-gradient(circle, rgba(60, 61, 60, 0.5), rgba(15, 15, 15, 0.7), rgba(0,0,0,1));
  border-radius: 15px;
  opacity:0;
  transition: all .5s;
}
.special:hover .picHolder::after {
  opacity:1;
}
.special p {
  opacity: 1 !important;
  font-size:1.5rem;;
  font-weight:bold;
  color: rgba(242, 119, 119, 0.5);
  padding-bottom: 20px;
  
}
.special  img {
  object-fit: contain;
  width:100% !important;
  height:100% !important;
  border-radius: 15px;
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-pagination span {
  background-color: #e50916;
}
@media only screen and (max-width:1024px){
  
  .special p {
   margin-top: 10px;
   font-size:1.3rem;;
  }
}
@media only screen and (max-width:768px){
  .special {
    text-align: center;
  }

  .special p {
    font-size:1.4rem;;
   margin-left: 0;
   margin-top: 15px;
    
  }
}
@media only screen and (max-width:650px) {
  .special p {
    font-size:1.3rem;;
   margin-left: 0;
   margin-top: 15px;
    
  }
} 
@media only screen and (max-width:500px) {
  .special p {
    font-size:1.2rem;;
   margin-left: 0;
   margin-top: 15px;
    
  }
} 





