#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 120%;
}
body {
 
  font-family: sans-serif;
  color: #fff;
}
.swiper { 
  width:100% ;
  height:100%
}
.swiper-wrapper {
  height:920px !important;
  margin:0;
  padding:0;
}
.swiper-slide,
.swiper-slide-active {
  text-align: center;
  font-size: 18px;
  background: #000;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height:100vh;
  flex-shrink: 1 !important;
}
.layer {
  position:relative;
  width:100%;
  height:100vh;
  padding:0;
  margin:0;
}
.layer:after {
  position:absolute;
  top:0;
  left:0;
  content:"";
  width:100%;
  height:100%;
  background-color: rgba(44, 43, 43, 0.6);
}
.layer .mainPic {
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  object-fit:cover !important;
}
.layer .flexHolder{
  display:flex;
  gap:60px;
  position: absolute;
  top:80px;
  z-index: 999;
  color:#fff;
  left:50%;
  transform: translateX(-50%);
  width:100%;
  height:100%;
  align-items: center;
}
.layer .leftMotion {
  text-align: left;
  width:50%;
  padding-left:50px;
  margin-bottom: 30px;
  height:90%;
}
.layer .leftMotion .red {
  color:#e50916;
  font-size: 2.5rem;
  padding-right: 10px;
  margin-bottom:10px;
  animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
}
@keyframes fade-in-right {
  0%{transform:translateX(10%);
  opacity: 0;}
  100%{opacity:1;
  transform: translateX(0);}
}
.layer .leftMotion .title {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 550;
  letter-spacing: 2px;
  margin-bottom:30px;
 animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.1s both;
 /* transition-timing-function
  animation-duration
  animation-fill-mode */
}
@keyframes fade-in-right {
  0%{transform:translateX(7%);
  opacity: 0;}
  100%{opacity:1;
  transform: translateX(0);}
}
.layer .leftMotion h1 {
  text-transform: uppercase;
  font-size: 3.6rem;
  margin-bottom: 0;
  margin-top: -25px;
  animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.1s both;
}
.layer .leftMotion .flexHolder2 {
  display:flex;
  justify-content:start;
  width:30%;
  align-items: center;
  gap:10px;
  margin-top:-8px;
}
.layer .leftMotion .country {
  border: 1px solid #fff;
  padding:1px 5px;
  font-size: .9rem;
  height: 26px;
  width:max-content; 
  animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.1s both;
}
.layer .leftMotion img {
  width:50px;
  height:25px;
  margin-left: 25px;
  animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.1s both;
}
.layer .leftMotion .imdb {
  margin-left:0px;
  animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.1s both;
}
.layer .leftMotion  .plot {
  width:95%;
  font-size: 1.28rem;
  color:#cecfd1;
  margin-bottom: 40px;
  margin-top:10px;
  animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.2s both;
}
.layer .leftMotion .special {
  font-size: 1.1rem;
}
.layer .leftMotion .data {
  margin:10px 1px;
  animation: fade-in-right 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.3s both;
}
.layer .leftMotion .data span {
  color:#e50916;
  font-size: 1.28rem;
  font-weight: 600;
}
.layer .leftMotion .playButton {
    padding:18px 32px;
    border-radius: 0;
    border:1px solid #b81d24;
    background-color: #e50916;
    color:#fff;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 20px;
    animation: fade-in-right 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.3s both;
}
.layer .leftMotion .playButton i {
  padding-right:15px;
  font-size: 1.4rem;
}
.layer .rightMotion {
  width:50%;
  padding-right:50px;
  height:90%;
  animation: fade-in-left 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.3s both;
  position:relative;
}
@keyframes fade-in-left {
  0%{transform:translateX(-10%);
  opacity: 0;}
  100%{opacity:1;
  transform: translateX(0);}
}
.layer .rightMotion img {
  width:720px;
  margin-top:80px;
}
.layer .rightMotion .video {
  position: absolute;
  top:50%;
  left:45%;
  transform: translate(-50%,-50%);
  animation:play 2s
}
.layer .rightMotion .video:hover i::after {
  opacity:1;
  animation:play 2s
}
.layer .rightMotion .video:hover i {
  animation: play 2s
}
@keyframes play {
  0% {opacity:0};
  100%{opacity:1};
}
.layer .rightMotion .video p {
  font-size:1.5rem;
  font-weight: 500;
}
.layer .rightMotion .video i {
  font-size:3.5rem ;
  position: absolute;
  top:-50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding:12px 18px;
}
.layer .rightMotion .video i::after {
  border:3px solid #fff;
  content:"";
  position:absolute;
  top:-5%;
  left:-9%;
  border-radius: 50%;
  width:80px;
  height:80px;
  opacity:0;
  
}
@media only screen and (max-width: 1600px) {
  .layer .leftMotion .longTitle {
    font-size: 3.4rem;
    line-height: 5.3rem;
    padding:10px 0;
  }
}
@media only screen and (max-width: 1500px) {
  .layer .leftMotion .longTitle {
    font-size: 3.3rem;
    line-height: 5.5rem;
    padding:10px 0;
  }
  .layer .leftMotion {
    width:40%;
    padding-left:60px;
    margin-bottom: 20px;
    height:90%;
  }
  .layer .rightMotion {
    width:40%;
    padding-right:30px;
    height:90%;
  }
  .layer .rightMotion img {
    width:700px;
    margin-top:80px;
  }
 
.layer .rightMotion .video {
  top:50%;
  left:58%;
  transform: translate(-50%,-50%);
  animation:play 2s
}
}
@media only screen and (max-width:1400px) {
  .layer .leftMotion .title {
    font-size: 1.3rem;
    line-height: 3.3rem;
}
.layer .leftMotion h1 {
  font-size: 3.3rem;
}
.layer .leftMotion .longTitle {
  font-size: 3rem;
  line-height: 5rem;
  padding:10px 0;
}
.layer .leftMotion .imdb {
  font-size:1.1rem;
}
.layer .leftMotion img {
  width:50px;
  height:23px;
  margin-left: 23px;
}
.layer .leftMotion  .plot {
  width:95%;
  font-size: 1.12rem;
}
.layer .leftMotion .special {
  font-size: 1rem;
}
.layer .leftMotion .data {
  font-size: 1rem;
}
.layer .leftMotion .playButton {
  padding:15px 25px;
  font-size: 1rem;
  
}
.layer .leftMotion .playButton i {
  padding-right:12px;
  font-size: 1.2rem;
}
}
@media only screen and (max-width:1350px) {
  .layer .flexHolder{
    display:flex;
    gap:65px;
}
.layer .rightMotion img {
  width:640px;
  margin-top:80px;
}
.layer .rightMotion .video {
  top:50%;
  left:59%;
  transform: translate(-50%,-50%);
}
.layer .rightMotion .video p {
  font-size:1.4rem;
}
.layer .rightMotion .video i {
  font-size:3.3rem ;
}
}
@media only screen and (max-width:1310px) {
  .layer .leftMotion h1 {
    font-size: 3.2rem;
  }
  .layer .leftMotion .data {
    font-size: 1rem;
    margin:5px 1px;
  }
  .layer .rightMotion img {
    width:630px;
    margin-top:80px;
  }
  }
  @media only screen and (max-width:1250px) {
    .layer .leftMotion .data {
      font-size: .9rem;
      margin:5px 1px;
    }
    .layer .leftMotion  .plot {
      width:95%;
      font-size: 1.1rem;
    }
    .layer {
      height:90vh;
  }
  .layer .rightMotion img {
    width:610px;
    margin-top:80px;
  }
}
@media only screen and (max-width:1210px) {
  .layer .leftMotion .title {
    font-size: 1.2rem;
}
  .layer .leftMotion h1 {
    font-size: 3.1rem;
  }
  .layer .leftMotion .longTitle {
    font-size: 2.6rem;
    line-height: 3.5rem;
    padding:10px 0 ;
  }
  .layer .leftMotion .data {
    font-size: .7rem;
    margin:3px 1px;
  }
}
@media only screen and (max-width:1200px) {
  .layer .rightMotion {
   display: none; 
  }
  .layer .leftMotion {
    width:60%;
    padding-left:40px;
    margin-bottom: 20px;
    height:90%;
  }
}
@media only screen and (max-width:900px) {
  .layer .leftMotion {
    width:60%;
    padding-left:40px;
    margin-bottom: 20px;
    height:90%;
  }
}
@media only screen and (max-width:800px) {
  .layer {
    height:85vh;
}
.layer .leftMotion .playButton {
  padding:13px 21px;
  font-size: .9rem;
  
}
.layer .leftMotion .playButton i {
  padding-right:10px;
  font-size: 1.1rem;
}
.layer .leftMotion {
  width:75%;
  padding-left:30px;
  margin-bottom: 20px;
  height:90%;
}
}
@media only screen and (max-width:750px) {
  .layer .leftMotion .longTitle {
    font-size: 2.4rem;
  }
  .layer .leftMotion .data p{
    font-size: .7rem;
    margin:2px 1px;
  }
  .layer .leftMotion .data span {
    font-size: 1.2rem;
  }
  .layer .leftMotion  .plot {
    width:95%;
    font-size: 1rem;
    margin-bottom: 30px;
  }
  .layer .leftMotion .imdb {
    font-size:1rem;
  }
  .layer .leftMotion img {
    width:50px;
    height:23px;
    margin-left: 23px;
  }
  .layer .leftMotion .country {
    padding:0px 5px;
    font-size: .85rem;
    height: 25px;
}
}
@media only screen and (max-width:600px) {
  .layer .leftMotion h1 {
    font-size: 2.8rem;
  }
  .layer .leftMotion .longTitle {
    font-size: 2.4rem;
  }
  .layer .leftMotion .data p{
    font-size: .6rem;
    margin:2px 1px;
  }
  .layer .leftMotion .data span {
    font-size: 1.1rem;
  }
  .layer .leftMotion  .plot {
    width:95%;
    font-size: .9rem;
    margin-bottom: 20px;
  }
  .layer .leftMotion  .plot1 {
    padding:15px 0 10px 0;
  }
  .layer .leftMotion  .plot3{
    padding:20px 0 10px 0;
  }
  .layer .leftMotion .special {
    font-size: .8rem;
  }
  .layer .leftMotion .playButton {
    padding:11px 19px;
    font-size: .8rem;
    
  }
  .layer .leftMotion .playButton i {
    padding-right:8px;
    font-size: 1rem;
  }
  .layer .leftMotion {
    width:80%;
    padding-left:20px;
    margin-bottom: 10px;
    height:90%;
  }
}
@media only screen and (max-width:500px) {
  .layer .leftMotion {
    width:80%;
    padding-left:15px;
    height:90%;
  }
  .layer .leftMotion .special {
    font-size: .7rem;
  }
} 


